.login-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #74becb;
}
.login-card{
  width: 25%;
}
.list-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.login-avatar{
  display: flex;
  width: 100%;
  justify-content: center;
}

.vertical-spacer{
  padding-bottom: 10px;
  padding-top: 10px;
}


a {
  text-decoration: none;
  color: white;
}
